<div class="container" style="padding-top: 30px">
    <div class="col-sm-3" style="width:400px;">
        <div class="panel panel-danger">
            <div class="panel-heading" style="text-align: center;"><strong>Player</strong></div>
            <table class="table table-striped table-hover">
                <tr>
                    <td>{{main.member.fname}} {{main.member.sname}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div ng-repeat="perfData in main.member.performanceData">
        <div class="col-sm-7" style="float: right !important; width:700px;">
            <div class="panel panel-danger">
                <div class="panel-heading" style="text-align: center;"><strong>Enter Value for {{perfData.type}} and date recorded</strong></div>
                <form class="form-inline add-user-form" ng-submit= "team.performanceValues.type = perfData.type; team.performanceValues.member_id = main.member._id; team.addValues(performanceValues)">
                    <input class="form-control" type="text" name="value" placeholder="Performance Value" ng-model="team.performanceValues.value">
                    <label>{{perfData.units}}</label>
                    <input class="form-control" type="date" name="date" placeholder="yyyy-MM-dd" ng-model="team.performanceValues.date">
                    <button class="btn btn-primary" type="submit">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>